:root{
    --color-background : #FFFFFF;
    --color-primary: #8A2BE2;
    --color-text: #000000; 	 
}

.alice-mode {
    --color-background : #C697EB;
    color: #FFFFFF ;
}

.h1-alice{
    color: white;
}
.dark-mode {
    --color-background : #000000;
    color: #FFFFFF ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--color-background);
}



.margem{
    display: flex;
    position: absolute;
    background-color: var(--color-primary);
    height: 100%;
    width: 100px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 5vh 0vh;
}

h1{
    font-weight: 800;
    color: var(--color-primary);
    font-size:80px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#btn-darkMode{
  display: flex;
  position: absolute;
  right: 2vw;
  cursor: pointer;
  background-color: transparent;
  border-radius: 2px;
  border: none;
  padding: .8rem;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    height: 70vh;
}

.texto{
    display: flex;
    border-bottom: 1px solid var(--color-primary);
}


.form img{
    display: flex;
    height: 45px;
    padding: 3px;
}

input{
    border: none;
    font-size: 20px;
    width: 70vh;
    color: var(--color-text);
    background-color: var(--color-background);
    
}

#translate{
    width: 200px;
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color:var(--color-primary);
    color: var(--color-text);
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
